<?xml version="1.0" encoding="utf-8" ?>
<configuration>

<!-- 数据库连接串-->  
  <connectionStrings>
    <clear/>
    <add name ="PostgreSQL"
         connectionString ="
         Host=localhost;
         Port=5432;
         Username=haidu;
         Password=3678;
         Database=mimic;"
         providerName ="System.Data.SqlClient"
         />
  </connectionStrings>
  
<!--MIMIC管理系统初始化需要的参数 -->
  <appSettings >
    <clear />
    <add key ="userName" value =""/>
    <add key ="password" value =""/>
    <add key ="Department" value =""/>
    <add key ="returnValue" value =""/>
    <add key ="pwdPattern" value =""/>
    <add key ="userPattern" value =""/>
  </appSettings>
  
 </configuration>